<footer class="footer">
  <small>
    <a href="#">trackS2</a>
    by @ganine
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</footer>
