<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'trackS2', '#', :class => 'brand' %>
      <nav>
        <ul class="nav">
          <li><%= link_to 'Tracks', tracks_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
